.venv
.env
.dodsrc
local_tests/

downloads/clorophyll/data
downloads/depth/data
downloads/sst/data
downloads/eke/data
downloads/light/data

transform/clorophyll/data
transform/depth/data
transform/sst/data
transform/eke/data
transform/light/data
